[submodule "plugins/tyrannical"]
	path = plugins/tyrannical
	url = git@github.com:Elv13/tyrannical.git
[submodule "plugins/revelation"]
	path = plugins/revelation
	url = git@github.com:bioe007/awesome-revelation.git
